<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control w-50" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" ,class:"btn btn-outline-primary font-weight-bold" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
