<% if @post.errors.any? %>
  <div class="alert alert-danger">
  <h5><% t('common.errors') %></h5>
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f| %>
<div class="form-group">
  <%= f.label :title, class:"font-weight-bold" %>
  <%= f.text_field :title, class:"form-control w-50" %>
</div>

<div class="form-group">
  <%= f.label :text, class:"font-weight-bold" %>
  <%= f.text_area :text, class:"form-control w-100" %>
</div>

<div class="form-group">
  <%= f.label :category_id,class:"font-weight-bold" %>
  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id]} %>
</div>
  <%= f.submit({:class=>'btn btn-outline-primary font-weight-bold'}) %>
<% end %>
