<h1>All posts</h1>
<!--<%= link_to 'Create new post', new_post_path %>-->
<div class="posts.container">
  <% @posts.each do |post| %>
  <%# border border-dark rounded %>
    <div class="post " style="margin-bottom:2%;">
      <%= link_to post do  %>

      <% end %>
      <h3><%=post.title %></h3>
      <p> <%= post.category.name %></p>

      <p> <%= post.created_at.to_date.strftime("%d %B,%Y") %></p>
      <p > <%= post.text[0,10] %>......</p>
      <%= link_to "View full",post, class:"btn btn-outline-primary font-weight-bold" %>
    </div>
  <% end %>

    <%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>

</div>
       <!-- current_user.email  -->
