<h1><%=@post.title %></h1>

<p> <%= @post.category.name %></p>
<p> <%= @post.created_at.to_date.strftime("%d %B,%Y") %></p>
<p> <%= @post.text %></p>

<div class="link-container">
  <%= link_to 'Edit', edit_post_path(@post.id),
  class:"text-decoration-none btn btn-outline-primary font-weight-bold" %>
  <%=
  link_to 'Delete', post_path(@post.id), method: :delete,
  class:"text-decoration-none btn btn-outline-primary font-weight-bold",
  data: { confirm: "Are you sure?" }, remote: true %>
  <%= link_to 'Go back', posts_path,
  class:"text-decoration-none btn btn-outline-primary font-weight-bold" %>
</div>

<div class="link-container">

</div>

<div class="link-container">

</div>
