<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-bold"><%= link_to 'Rails blog home', posts_path, class:"text-decoration-none" %></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span class="p-2 text-dark  " ><%= link_to 'Create new post', new_post_path, class:"text-decoration-none" %></span>
    <!-- <span class="p-2 text-dark" ><%= link_to 'Back to main window', posts_path, class:"text-decoration-none" %></span> -->
  </nav>
  <% if user_signed_in? %>
      <span class="" style="margin-right:1%"><%= link_to 'Settings', edit_user_registration_path, class:"btn btn-outline-primary text-decoration-none" %></span>
    <span class="" style="margin-right:1%"><%= link_to 'Log out', destroy_user_session_path,method: :delete, class:"btn btn-outline-primary text-decoration-none" %></span>

  <% else %>
    <span class="" style="margin-right:1%"><%= link_to 'Sign up', new_user_registration_path, class:"btn btn-outline-primary text-decoration-none" %></span>
    <span class="" style="margin-right:1%"><%= link_to 'Sign in', new_user_session_path, class:"btn btn-outline-primary text-decoration-none" %></span>
  <% end %>
</div>

<div class="container w-50">

  <div class="row">
    <div class="col-md-12">
        <% flash.each do |name, message| %>
          <div class="alert <%= bootstrap_class_for(name) %>">
            <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
        <% end %>
    </div>
  </div>
  <%= yield %>
</div>

  </body>
</html>
